<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="Nitin">

   <!-- title -->
   <title>{% block title %}sstream-meta{% endblock %}</title>


   <!-- Base css -->
    {% load staticfiles %}
    <link rel="stylesheet"  href="{% static 'sstream/css/bootstrap.min.css'%}"/>
    <!-- Custom CSS -->
    <link rel="stylesheet"  href="{% static 'sstream/css/base.css' %}"/>
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'sstream/font-awesome/css/font-awesome.min.css' %}"/>


   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>
 <body>
   {% block main %}{% endblock %}

   <!-- Bootstrap and jquery-->
   <script src="{% static 'sstream/js/jquery.js' %}"></script>
   <script src="{% static 'sstream/js/bootstrap.min.js' %}"></script>

 </body>
</html>